<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <!--https://stackoverflow.com/questions/33439812/what-is-the-meaning-of-tags-in-html-->
  

  <% for(let i=0; i < memberinfo.length ; i++){ %>
    <div>
        <div>아이디 : <%= memberinfo[i].id %></div>
        <div>비밀번호 : <%= memberinfo[i].password %></div>
        <div>이름 : <%= memberinfo[i].name %></div>
        <div>휴대폰번호 : <%= memberinfo[i].phone %></div>
        <div>이메일 : <%= memberinfo[i].email %></div>
    </div>
  <% } %>
<form action="/main" method="get">
  <button type="submit">메인으로</button>
</form>

</body>
</html> 